<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<settings>
	        <!-- print sql -->
	        <setting name="logImpl" value="STDOUT_LOGGING" />
	    </settings>
<!--   bean alias in mapping files -->
       <typeAliases>
             <typeAlias type="com.adaweng.shoppingcart.entity.Discount" alias="Discount" /> 
             <typeAlias type="com.adaweng.shoppingcart.entity.Product" alias="Product" /> 
             <typeAlias type="com.adaweng.shoppingcart.entity.OrderItem" alias="OrderItem" />              
             <typeAlias type="com.adaweng.shoppingcart.entity.User" alias="User" /> 
             <typeAlias type="com.adaweng.shoppingcart.entity.Coupon" alias="Coupon" /> 
       </typeAliases>

<!--   entity mapping config files -->
<!--         <mappers>			
        	<mapper resource="persistence.mapper/DiscountMapper.xml" />
			<mapper resource="persistence.mapper/ProductMapper.xml" />
			<mapper resource="persistence.mapper/OrderItemMapper.xml" />
			<mapper resource="persistence.mapper/UserMapper.xml" />			
       </mappers> -->
</configuration>