<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaweng.shoppingcart.mapper.OrderItemMapper">

       <!-- <cache /> -->

       <resultMap type="OrderItem" id="OrderItemMap">
              <id column="id" property="id" />
              <result column="name" property="name" />
              <result column="numbers" property="numbers" />
              <result column="subTotalPrice" property="subTotalPrice" />
              <result column="subTotalDiscount" property="subTotalDiscount" />
              <!-- one to one	association -->
              <!-- <result column="productId" property="product" /> -->
              <!-- <result column="discountId" property="discount" /> -->
		      <association column="productId" property="product"  javaType="Product">
		          <id column="id" property="id" jdbcType="BIGINT"/>
	              <result column="name" property="name" jdbcType="VARCHAR"/>
	              <result column="availableDate" property="availableDate" />
	              <result column="productType" property="productType" jdbcType="VARCHAR"/>
	              <result column="discountType" property="discountType" jdbcType="VARCHAR"/>
	              <result column="rate" property="rate" />
	              <result column="priceReduced" property="priceReduced" /> 
		      </association>
              <association column="discountId" property="discount" javaType="Discount">
		          <id column="id" property="id" jdbcType="BIGINT"/>
	              <result column="name" property="name" />
	              <result column="availableDate" property="availableDate" />
	              <result column="productType" property="productType" />
	              <result column="discountType" property="discountType" />
	              <result column="rate" property="rate" />
	              <result column="priceReduced" property="priceReduced" />
		      </association>
       </resultMap>
       
       <select id="getAllOrderItems" resultType="OrderItem" useCache="false">
            select oi.*, 
            prod.id prodId, prod.name prodName, prod.type prodType, prod.unitPrice prodUnitPrice, prod.status prodStatus, prod.stockAmount prodStockAmount,
            disc.id discId, disc.name discName, disc.availableDate discAvailableDate, disc.rate discRate
			from orderItem oi left join product prod on oi.productId = prod.id
			left join discount disc on oi.discountId = disc.id
			order by oi.id desc
       </select>

       <select id="getOrderItemById" resultType="OrderItem" useCache="false"  parameterType="int">
           	select oi.*, 
            prod.id prodId, prod.name prodName, prod.type prodType, prod.unitPrice prodUnitPrice,
            disc.id discId, disc.name discName, disc.availableDate discAvailableDate, disc.rate discRate
			from orderItem oi left join product prod on oi.productId = prod.id
			left join discount disc on oi.discountId = disc.id
			where oi.id = #{id}
			order by oi.id desc
       </select>

       <select id="getOrderItemByName" resultType="OrderItem" useCache="false">
			select oi.*, 
            prod.id prodId, prod.name prodName, prod.type prodType, prod.unitPrice prodUnitPrice,
            disc.id discId, disc.name discName, disc.availableDate discAvailableDate, disc.rate discRate
			from orderItem oi left join product prod on oi.productId = prod.id
			left join discount disc on oi.discountId = disc.id
            where name like ''||#{name}||'%'
            order by oi.id desc
       </select>

       <insert id="save" parameterType="OrderItem">
            <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
	        SELECT LAST_INSERT_ID() AS id
	        </selectKey>
              insert into orderItem
              set name = #{name},
              productId = #{product.id},
              discountId = #{discount.id},
              numbers = #{numbers}
       </insert>
       
       <update id="update">
              update orderItem
              set name = #{name},
              numbers = #{numbers}
              where id = #{id}
       </update>

       <delete id="delete">
              delete from orderItem
              where id = #{id}
       </delete>

</mapper>