<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaweng.shoppingcart.persistence.mapper.ProductMapper">

       <cache />

       <resultMap type="Product" id="ProductMap">
              <result column="id" property="id" />
              <result column="name" property="name" />
              <result column="availableDate" property="availableDate" />
              <result column="productType" property="productType" />
              <result column="discountType" property="discountType" />
              <result column="rate" property="rate" />
              <result column="priceReduced" property="priceReduced" />
       </resultMap>

       <select id="getAllProducts" resultType="Product" useCache="false">
              select *
              from product
       </select>

       <select id="getProductById" resultType="Product" useCache="false">
              select *
              from product
              where id = #{id}
       </select>

       <select id="getProductByName" resultType="Product" useCache="false">
              select *
              from product
              where name like ''||#{name}||'%'
       </select>

       <insert id="save">
              insert into product
              set name = #{name}
       </insert>
       
       <update id="update">
              update product
              set name = #{name}
              where id = #{id}
       </update>

       <delete id="delete">
              delete from product
              where id = #{id}
       </delete>

</mapper>